# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Compiled artifacts
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.tlog
*.lib
*.dll
*.log
*.aps

# OneDrive
*.tmp
